@font-face {
  font-family: RideTheFader;
  src: url(RideTheFader.ttf);
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(34, 29, 80);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
  color: white;
}

h3 {
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 800px;
  height: 600px;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 8px solid white;
  /* outline: 10px solid rgba(27, 36, 74, 1); */
}

.team-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points-box {
  position: relative;
  width: 18em;
  height: 10em;
  /* border: 3px solid white; */

  margin-bottom: 30px;
  background-color: black;
}

div#home-box {
  border: 3px solid;
  border-color: black;
}

div#guest-box {
  border: 3px solid;
  border-color: black;
}

.score {
  font-family: RideTheFader;
  font-size: 7.8em;
  text-align: right;

  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  margin-right: 37px;
  color: rgba(249, 79, 109, 1);
}

.buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;

  width: 18em;
}

button {
  cursor: pointer;
  width: 80px;
  height: 80px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;

  color: white;
  background-color: transparent;
}

button:hover {
  background-color: rgb(24, 21, 58);
}

button#new-game-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 1em;
  width: 200px;
  height: 70px;
}
